@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-600: #1A1A1A;
  --white: #ffffff;
  --puple-600: #5E60CE;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--puple-600);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--gray-600);
  color: var(--white); 
  font-family: 'Inter', sans-serif;
  
  --webkit-font-smoothing: antialiased;
}